chex==0.1.86
flax==0.8.5
gymnasium==0.29.1
h5py==3.11.0
highway_env==1.8.2
jax==0.4.30
matplotlib==3.8.4
numpy==2.0.1
optax==0.2.3
scikit_learn==1.4.2
tensorboardX==2.6.2.2
tqdm==4.66.4
scipy
pandas
gym
highway-env